<ul style="list-style: none">
  <li>
    <i class="mdi mdi-account-box" class="icons-informações"></i> ID: {{
    cliente.id }}
  </li>
  <li>
    <i class="mdi mdi-rename-box" class="icons-informações"></i> Nome: {{
    cliente.nome }}
  </li>
  <li>
    <i class="mdi mdi-email" class="icons-informações"></i> Email: {{
    cliente.email }}
  </li>
  <li>
    <i
      class="mdi mdi-clipboard-text-clock-outline"
      class="icons-informações"
    ></i>
    Data de registro: {{ cliente.data_registro }}
  </li>
  <li>
    <i class="mdi mdi-cake-variant" class="icons-informações"></i> Data de
    nascimento: {{ cliente.data_nascimento }}
  </li>
</ul>
