<form
  id="form-customer"
  class="c-form"
  {%
  if
  customer
  %}
  action="{{ url_for('customers.update_customer', customer_id=customer.id) }}"
  {%
  else
  %}
  action="{{ url_for('customers.new_customer') }}"
  {%
  endif
  %}
  method="{% if customer %}PUT{% else %}POST{% endif %}"
  {%
  if
  customer
  %}
  c-swap="#customer-{{ customer.id }}"
  {%
  else
  %}
  c-append="#list-customers"
  {%
  endif
  %}
  c-reload-container="true"
>
  <!-- Name input field -->
  <div class="mb-3">
    <label for="inpuName" class="form-label"
      ><i class="mdi mdi-pencil-circle"></i> Nome</label
    >
    <input
      {%
      if
      customer
      %}value="{{ customer.nome }}"
      {%
      endif
      %}
      type="text"
      name="name"
      class="form-control"
      id="inpuName"
      placeholder="Exemplo: João Santos"
      required
    />
  </div>

  <!-- Email input field -->
  <div class="mb-3">
    <label for="inputEmail" class="form-label"
      ><i class="mdi mdi-email"></i> Seu melhor email</label
    >
    <input
      {%
      if
      customer
      %}value="{{ customer.email }}"
      {%
      endif
      %}
      type="email"
      name="email"
      class="form-control"
      id="inputEmail"
      placeholder="email@provedor.endereço"
      required
    />
  </div>

  <!-- Phone input field -->
  <div class="mb-3">
    <label for="inputPhone" class="form-label"
      ><i class="mdi mdi-phone"></i> Telefone para contato (apenas um)</label
    >
    <input
      {%
      if
      customer
      %}value="{{ customer.phone }}"
      {%
      endif
      %}
      type="phone"
      name="phone"
      class="form-control"
      id="inputPhone"
      required
      value="+55"
    />
  </div>

  <!-- Date of birth input field -->
  <div class="mb-3">
    <label for="inputBirth" class="form-label"
      ><i class="mdi mdi-calendar"></i> Data de nascimento</label
    >
    <input
      {%
      if
      customer
      %}value="{{ customer.date_birth }}"
      {%
      endif
      %}
      type="date"
      name="dateBirth"
      class="form-control"
      id="inputBirth"
      required
    />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-success">
    {% if customer %}
    <i class="mdi mdi-account-file"></i> Salvar cliente. {% else %}
    <i class="mdi mdi-account-plus"></i> Adicionar cliente. {% endif %}
  </button>
</form>
