<tr id="customer-{{ customer.id }}">
  <th scope="row" class="align-center">{{ customer.id }}</th>
  <td class="align-center">{{ customer.name }}</td>
  <td id="buttons-tr">
    <button
      type="button"
      class="btn btn-info"
      c-get="{{ url_for('customers.details_customer', customer_id=customer.id) }}"
      c-target="#display-customer"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="mdi mdi-card-account-details"></i> Info
    </button>
    <button
      class="btn btn-primary"
      c-get="{{ url_for('customers.form_edit_customer', customer_id=customer.id) }}"
      c-target="#form-customer"
    >
      <i class="mdi mdi-account-edit"></i> Editar
    </button>
    <button
      class="btn btn-danger"
      c-delete="{{ url_for('customers.delete_customer', customer_id=customer.id) }}"
      c-remove-closest="tr"
    >
      <i class="mdi mdi-account-remove"></i>
      Excluir
    </button>
  </td>
</tr>
